@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400..800&family=Syne:wght@400..800&subset=cyrillic&display=swap');

:root {
  --font-header: 'Syne', sans-serif;
  --font-body: 'Manrope', sans-serif;

  --color-bg: #080808;
  /* Slightly lighter deep black for better contrast */
  --color-surface: #111111;
  --color-text: #f0f0f0;
  /* Off-white, not pure */
  --color-text-muted: #888888;
  --color-border: #333333;

  --color-white-soft: #eaeaea;
  /* New variable for "white" elements */

  --spacing-container: 4vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
}

img,
video {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  padding: 0 var(--spacing-container);
  max-width: 1920px;
  margin: 0 auto;
}

.brutalist-border {
  border: 1px solid var(--color-border);
}